.footer {
  margin-top: 100%;
  margin-bottom: 0px;
  border-bottom-width: 0px;
  padding-bottom: 0px;
}
.logo-left {
  margin-left: 0px;
  border-left-width: 10%;
  padding-left: 0px;
  height: 50%;
  width: 25%;
  margin-bottom: 0px;
  border-bottom-width: 0px;
  padding-bottom: 0px;
  display: inline-block;
}
.links-right {
  margin-right: 0px;
  border-right-width: 10%;
  padding-right: 0px;
  height: 100%;
  width: 50%;
  margin-bottom: 0px;
  border-bottom-width: 0px;
  padding-bottom: 0px;
  display: inline-grid;
  column-gap: auto;
  row-gap: auto;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  position: relative;
  top: -25%;
}
.contact-links-right {
  margin-right: 0px;
  border-right-width: 10%;
  padding-right: 0px;
  height: 100%;
  width: 50%;
  margin-bottom: 0px;
  border-bottom-width: 0px;
  padding-bottom: 0px;
  display: inline-grid;
  column-gap: auto;
  row-gap: auto;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  position: relative;
  top: -25%;
}
.social-links-right {
  margin-right: 0px;
  border-right-width: 10%;
  padding-right: 0px;
  height: 100%;
  width: 50%;
  margin-bottom: 0px;
  border-bottom-width: 0px;
  padding-bottom: 0px;
  display: inline-grid;
  column-gap: auto;
  row-gap: auto;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  position: relative;
  top: -25%;
}
.logo {
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  border-bottom-width: 0px;
  padding-bottom: 0px;
  display: inline-block;
}
.links-container {
  margin-right: 0px;
  border-right-width: 10%;
  padding-right: 0px;
  height: 100%;
  width: 50%;
  margin-bottom: 0px;
  border-bottom-width: 0px;
  padding-bottom: 0px;
  display: inline-grid;
  column-gap: auto;
  row-gap: auto;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  position: relative;
  left: 25%;
}