.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.circle-button {
  background-color: steelblue;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  border: none;
  color: white;
  font-family: arial;
  display: inline-block;
  font-size: 45px;
  font-style: bold;
  text-align: center;
}
.square-button {
  background-color: steelblue;
  border-radius: 3%;
  height: 100px;
  width: 100px;
  border: none;
  color: white;
  font-family: arial;
  display: inline-block;
  font-size: 45px;
  font-style: bold;
  text-align: center;
}
.grid-item {
  color:white;
  font-family:arial;
<<<<<<< HEAD
=======
  font-style:bold;
}
* {
  box-sizing: border-box;
}
@media only screen and (min-width: 1024px) {
  
>>>>>>> parent of 353b93a (Yleisiä muutoksia)
}